@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form action="/Account/AccountRegistration" method="get" id="taskForm">
        <button type="submit">Регистрация</button>
    </form>

    <form action="/Account/Authorization" method="get" id="taskForm">
        <button type="submit">Авторизация</button>
    </form>
</div>
