@page


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/TaskListIndex.css">
    <title>Удаления Задачи</title>
</head>
<body>
    <h2>Удаления Задачи</h2>



    <form action="Delet" method="post" id="taskForm">
        <label for="taskText">id Задачи:</label>
        <input type="text" id="taskText" name="id" required />

        <button type="submit">Удалить Задачу</button>

    </form>

</body>
</html>



