@using TaskList_Frontend.Services.TaskListApi.Models.TaskList;
@model List<TaskViewModel>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/TaskListIndex.css">
    <title>Список задач</title>
</head>
  <body>
            
    <form asp-controller="TaskList" asp-action="Index" method="post" id="taskForm">
        <button type="submit">Добавить новую задачу</button>
     </form>

    <table id="taskList">
      <thead>
         <tr>
           <th>ID</th>
           <th>Текст</th>
           <th>Статус</th>
           <th>Дата</th>
           </tr>
      </thead>
      <tbody>
        @if (Model != null)
        {
           foreach (var task in Model)
           {
             <tr>
               <td>@task.id</td>
               <td>@task.text</td>
               <td>@(task.statusTasks ? "Активно" : "Неактивно")</td>
               <td>@task.created</td>
             </tr>
           }
        }
      </tbody>
    </table>
  </body>
</html>


