@page


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/TaskListIndex.css">
    <title>Список задач</title>
</head>
     <body>
     <h1>Список задач</h1>

     <form id="taskForm">
        <label for="taskId">ID:</label>
        <input type="text" id="taskId" name="taskId">

        <label for="taskText">Текст:</label>
        <input type="text" id="taskText" name="taskText">

        <label for="taskStatus">Статус:</label>
        <input type="text" id="taskStatus" name="taskStatus">

        <label for="taskCreated">Дата создания:</label>
        <input type="text" id="taskCreated" name="taskCreated">

        <button type="button" onclick="addTask()">Добавить задачу</button>
     </form>

     <div id="taskList">
        <!-- Список задач будет отображаться здесь -->
     </div>

     </body>
</html>


