
@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/StatusStyle.css">
    <title>Статус</title>
</head>
<body>
    <div class="Status"><center><h2>Выполнено</h2></center></div>

    <form action="/TaskList/Index" method="get" id="taskForm">
        <button type="submit">Главное меню</button>
    </form>
</body>
</html>



